{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
    <p class="lead">Каталог - магазин по продажи электротехники</p>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">{{ object }}</h4>
                    <p class="card-text">
                        {{ object.description|slice:100 }}
                    </p>
                    <p class="card-footer">
                        {% if object.active_version != 'Нет активной версии'%}
                        Версия: {{ object.active_version }}
                        {% else %}
                        {{ object.active_version }}
                        {% endif %}
                        {% if object.number_version %}
                        - {{ object.number_version }}
                        {% endif %}
                    </p>
                    <a href="{% url 'catalog:detail_product' object.pk %}" class="btn btn-primary">Посмотреть</a>
                    <a href="{% url 'catalog:edit_product' object.pk %}" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2 mt-5" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">1</button>
                <button type="button" class="btn btn-primary">2</button>
                <button type="button" class="btn btn-primary">3</button>
                <button type="button" class="btn btn-primary">4</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
