{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавить новый продукт</h1>
</div>

<div class="container">
    <div class="col-6 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Введите название продукта">
                    </div>
                    <div class="mb-3">
                        <textarea name="description" class="form-control" id="description"
                                  placeholder="Введите описание продукта"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Фото</label>
                        <input class="form-control" type="file" id="formFile" name="photo">
                    </div>
                    <div class="mb-3">
                          <select class="form-select" name="category" aria-label="Пример выбора по умолчанию">
                            <option selected>Выберите категорию</option>
                              {% for category in object_list %}
                              <option value="{{ category.id }}">{{ category.name }}</option>
                              {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">₽</span>
                        <input type="text" name="price" class="form-control" id="price"
                               placeholder="Введите цену продукта" aria-label="Amount (to the nearest ruble)">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="created_at" class="form-control" id="created_at"
                               placeholder="Введите дату создания">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="updated_at" class="form-control" id="updated_at"
                               placeholder="Введите дату изменения">
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
