{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        {% if not object %}
        Добавить новый продукт
        {% else %}
        Редактировать продукт
        {% endif %}
    </h1>
</div>

<div class="container">
    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-header">
                            {% if not object %}
                            Добавить продукт
                            {% else %}
                            Редактировать продукт
                            {% endif %}
                        </p>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="col-6 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-header">
                            {% if not object %}
                            Добавить версию продукта
                            {% else %}
                            Редактировать версию продукта
                            {% endif %}
                        </p>
                        {{ formset.management_form }}
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
