{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
    <p class="lead">Каталог - магазин по продажи электротехники</p>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        {% if object.is_published %}
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-header">{{ object }}</h4>
                    <p class="card-text">
                        {{ object.description|slice:100 }}
                    </p>
                    <p class="card-footer">
                        {% if object.active_version != 'Нет активной версии'%}
                        Версия: {{ object.active_version }}
                        {% else %}
                        {{ object.active_version }}
                        {% endif %}
                        {% if object.number_version %}
                        - {{ object.number_version }}
                        {% endif %}
                    </p>
                    <div class="btn-group">
                        {% if perms.catalog.unpublish_a_product or perms.catalog.change_description_product or perms.catalog.change_category_product or user == object.owner%}
                        <a href="{% url 'catalog:edit_product' object.pk %}" class="btn btn-outline-primary">Редактировать</a>
                        {% endif %}
                        <a href="{% url 'catalog:detail_product' object.pk %}" class="btn btn-outline-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
     <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
